<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>manageboard</title>
</head>

<body>
    {% for board in userboard %} 
        {{board.id}}<br> 
    {% endfor %}
    <button id = "create_board">create board</button>
    
    <form method="POST" action = "{% url 'mainsite:invite' %}">
            {% csrf_token %}
        使用者帳號：<input type = "text" name="user_id">
        board_id:<input type = "text" name="board_id">
        <input type="submit" value="邀請">
    </form>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $("#create_board").click(function(){
                $.post("{% url 'mainsite:createboard' %}",
                    {},
                    function(data){
                        alert(data);
                    }
                )
            })
        })
    </script>
</body>

</html>