<html>
    <head>
        <script type="text/javascript" src="/static/ministickyBoard/js/d3.min.js"></script>
        <script type="text/javascript" src="/static/ministickyBoard/js/jQuery.min.js"></script>
        <script type="text/javascript" src="/static/ministickyBoard/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"    crossorigin="anonymous"> 
        <link href="/static/ministickyBoard/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/static/ministickyBoard/css/nav.css"/>
        <link rel="stylesheet" href="/static/ministickyBoard/css/style.css"/>
    </head>
    <body>
        <header>
             <div class="topnav" id="myTopnav">
                 <a href="" class="menu-active">Panel Name : {{panel_name}}</a>
                 <a href="javascript:void(0);">User : {{user.user_name}}</a>
             </div>
             <form id="postData"> {%csrf_token%}
                 <button type="submit" class="btn btn-secondary">Post Data</button>
             </form>
        <header>

        <div id="react-container"></div>
    </body>
    <script type="text/javascript" src="/static/ministickyBoard/js/postdata.js"></script>
    <script type="text/javascript" src="/static/ministickyBoard/js/bundle.js"></script>
</html>
