<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
    <title>Sticky Board</title>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/jQuery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/nav.css"></link>
    <link rel="stylesheet" href="./css/grid.css"></link>
    <link rel="stylesheet" href="./css/about.css"></link>
</head>

<body>
    <div class="my-wrapper">

        <header>
            <div class="topnav" id="myTopnav">
                <a href="index.html">Sticky Board</a>
                <a href="login.html">Login</a>
                <a href="signup.html">Sign up</a>
                <a href="about.html" class="menu-active">About us</a>
                <a href="javascript:void(0);" class="icon" onclick="responsive_nav()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </header>
        <section class="my-content">
            <div class="member-outer">
                <div class="member-inner">
                    <div class="member-card">
                        <img class="avatar" src="./images/yiwei.jpg">
                        <p class="developer-name">王議偉</p>
                        <p class="developer-title">Front-end Developer</p>
                        <div>
                            <a class="contact-icons" href="https://www.facebook.com/yiweiWang01" target="_blank">
                                <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                            </a>
                            <a class="contact-icons" href="https://github.com/Wang-YiWei" target="_blank">
                                <i class="fab fa-github fa-2x fa-contact-info"></i>
                            </a>
                        </div>
                        <p class="developer-description">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
                            Ipsum passage.
                        </p>
                    </div>
                    <div class="member-card">
                        <img class="avatar" src="./images/yiwei.jpg">
                        <p class="developer-name">王議偉</p>
                        <p class="developer-title">Front-end Developer</p>
                        <div>
                            <a class="contact-icons" href="https://www.facebook.com/yiweiWang01" target="_blank">
                                <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                            </a>
                            <a class="contact-icons" href="https://github.com/Wang-YiWei" target="_blank">
                                <i class="fab fa-github fa-2x fa-contact-info"></i>
                            </a>
                        </div>
                        <p class="developer-description">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
                            Ipsum passage, and going through the cites of the word in classical literature, discovered the
                            undoubtable source.
                        </p>
                    </div>
                    <div class="member-card">
                        <img class="avatar" src="./images/yiwei.jpg">
                        <p class="developer-name">王議偉</p>
                        <p class="developer-title">Front-end Developer</p>
                        <div>
                            <a class="contact-icons" href="https://www.facebook.com/yiweiWang01" target="_blank">
                                <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                            </a>
                            <a class="contact-icons" href="https://github.com/Wang-YiWei" target="_blank">
                                <i class="fab fa-github fa-2x fa-contact-info"></i>
                            </a>
                        </div>
                        <p class="developer-description">
                            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                            consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                            literature, discovered the undoubtable source.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            Copyright NCKU Web Design. All Rights Reserved.
        </footer>
    </div>
</body>

</html>
<script type="text/javascript" src="./js/nav.js"></script>