.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 85vh;
    padding-bottom:50px;
    /* background-color: blue; */
}

.userauth-form {
    width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: green; */
}

.form-title {
    text-align: center;
    flex-basis: auto;
    font-size: 28px;
    color: #dbac66;
}

.form-title h1 {
    font-weight: normal;
}

input[type=text],
input[type=password],
input[type=email]
{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 24px;
}

.userauth-input {
    margin-bottom: 25px;
}

.userauth-input>label {
    color: rgb(95, 95, 95);
    font-size: 26px;
}

.userauth-submit {
    text-align: center;
    margin-bottom: 15px;
}

.login-btn {
    background-color: white;
    color: #dbac66;
    border: 1px solid #dbac66;
    border-radius: 4px;            
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.userauth-submit :hover{
    background-color: #dbac66;
    color: #ffffff;
}

@media screen and (max-width: 650px) {
    .userauth-form {
        width: 400px;
        min-height: 500px;
    }
}

@media screen and (max-width: 450px) {
    .userauth-form {
        width: 300px;
        min-height: 450px;
    }
}

@media screen and (max-width: 350px) {
    .userauth-form {
        width: 250px;
        min-height: 450px;
    }
}