.form_container{
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.form_title{
    color:#ab7a30;
    text-align: center;
    font-size: 20px;

}

.userauth_form{
    color:#ab7a30;
    border-radius: 15px;
    box-shadow: 3px 6px 6px 6px rgba(0,0,0,0.2);
    padding:10px;
    height:auto;
    width:400px;
}

.userauth_input{
    position:relative;
    left:30%;
    font-weight: bold;
    font-size: 20px;
}

.userauth_input input{
    border-radius: 5px;
    border: 1px solid #ab7a30;
    margin:4px 2px;
    height:25px;
    
}



.userauth_submit button{
    position:relative;
    left:40%;

    background-color: white;
    border:  1px solid #ab7a30;
    border-radius:5px;
    color: #ab7a30;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.userauth_submit button:hover{
    background-color: #ab7a30;
    color: #fff;
}

